<%= link_to "New",  new_registered_application_path %>
<% @applications.each do |app| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to app.name, controller: "registered_applications", action: "read", id: app %>
        </h4>
      </div>
    </div>
<% end %>
